.idea
**/__pycache__/
server/bin
docker/teamcity/teamcity
docker/youtrack/opt
ai/agent/.venv
ai/agent/server/langgraph/.langgraph_api
ai/agent/server/langflow/data
ai/.envrc
ai/rag/.history
ai/platform/dify